{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% tailwind_css %}
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-100">
    {% block body %}
    {% if messages %}
<div class="relative top-4 space-y-4 z-50">
    {% for message in messages %}
    <div class="flex items-center justify-between p-4 rounded-md shadow-md text-white
        {% if message.tags == 'success' %}bg-green-500{% elif message.tags == 'error' %}bg-red-500{% elif message.tags == 'warning' %}bg-yellow-500{% else %}bg-blue-500{% endif %}" 
        role="alert">
        <span>{{ message }}</span>
        <button type="button" class="ml-4 text-xl font-bold leading-none focus:outline-none" onclick="this.parentElement.remove()">×</button>
    </div>
    {% endfor %}
</div>
{% endif %}
    {% block content %}
    {% endblock %}
{% endblock %}


    {% block scripts %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"></script>
    <script src="../static/scripts/logout.js"></script>
    <script src="../static/scripts/agent.js"></script>
    <script src="../static/scripts/admin.js"></script>
</body>
</html>